/* ANIMATION TYPEWRITER 
.typewriter:after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: blink 1s infinite;
  color: #6f44b6;
}

@-webkit-keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

 END ANIMATION TYPEWRITER */