/* Font Style */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* ESTABELECENDO PADRÕES */

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

ul li a{
    text-decoration: none;
    color: gray;
    transition: color 0.7s ease-in-out;
}

ul li a:hover{
    color: rgb(219, 215, 196);
    
}

.flex-container {
    display: flex;
    width: 100%;
    margin: auto;
    width: 100%;
}

.list-items li{
    display: flex;
    list-style: none;
    font-size: 25px;
    font-weight: bold;
}


/* Header */

header{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(18, 18, 20);
    color: rgb(225, 225, 230);
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

header .list-items{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
}

.flex-container h1 {
    width: 350px;
}

/* FIM DE HEADER */

/* MAIN */

.apresentacao {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
    background-color: rgb(28, 24 ,39);
    width: 100vhmax;
}

.apresentacao .texto-apresentacao{
    min-height: 200px;
}

.texto-apresentacao h1{
    font-size: 48px;
    color: rgb(225, 225, 230);
    align-items: center;
}
.texto-apresentacao h3{
    color: rgb(225, 225, 230);
}

.texto-apresentacao button {
    font-size: 25px;
    width: 250px;
    height: 59px;
    background-color: #0b090a;
    transition: width 0.9s ease-in-out;
    border-radius: 10px;
    border: none;
    
}
.texto-apresentacao button:hover {
    width: 350px;
}

.texto-apresentacao button a {
    color: rgb(225, 225, 230);
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

/* ANIMATION TYPEWRITER */

.typewriter:after {
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: blink 1s infinite;
    color: #6f44b6;
  }
  @-webkit-keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

/* FIM DA APRESENTAÇÃO */

/* CARDS */

#projects{
    display: flex;
    font-size: 3rem;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.container-card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.card {
    height: 300px;
    width: 400px;
    margin: 3rem 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.5);
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}
#card-one{
    background-image: url('../images/memory-game.png');
}
#card-two{
    background-image: url('../images/flex-landing-page1.png');
    color: rgb(18, 18, 20);
}
#card-three{
    background-image: url('../images/joga-da-velha1.png');
    color: rgb(18, 18, 20);
}

.card-text {
    width: 40%;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
    text-align: justify;
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid white;
    opacity: 0;
    transition: 0.3s;
}

.card-wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;

}

.card-wrapper p {
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

.card:hover{
    filter: unset;
}

.card:hover > .card-wrapper::before {
    opacity: 1;
    width: 350px;
    height: 250px;
}

.card:hover > .card-wrapper p {
    font-size: 14px;
    opacity: 1;
    visibility: visible;
}

/* FIM DE CARDS */

/* SKILLS */

/* FIM DE SKILLS */

/* FOOTER */

footer {
    color: #ffffff;
    text-align: center;
    margin-top: 75px;
}

footer .flex-container{
    border-top: 1px solid rgb(18, 18, 20);
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color: rgb(28, 24 ,39);
}

.flex-container .social-media{
    display: flex;
    margin-top: 20px;
    align-items: center;

}

.flex-container .social-media a {
    padding: 0.6rem;
}

#direitos-autorais{
    color: rgb(225, 225, 230);
    margin-top: 20px;
    text-align: center;
    font-size: 1.3rem;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

/* FIM DE FOOTER */

@media (max-width: 992px) {

    #s-main img{
        display: none;
    }

   #s-main{
    justify-content: center;
   }
    .texto-apresentacao{
        justify-content: center;
        align-items: center;
    }

    .card-container{
        flex-direction: column;
    }

   .apresentacao{
        flex-direction: column;
    }

    .texto-apresentacao{
        margin: auto;
    }

    .container{
        flex-direction: column;
    }


    .social-media {
        display: flex;
        flex-direction: column;
    }
    
    .container-card {
        margin-top: 0;
    }

    .card-container {
        flex-direction: column;
    }
    .container-card .card-container:nth-child(1),
    .container-card .card-container:nth-child(3) {
        flex-direction: column-reverse;
    }

    .card {
        height: 250px;
        width: 250px;
     }

     .card-text {
         width: 90;
         margin-top: 2rem;
         text-align: center;
     }

     .card:hover > .card-wrapper::before {
        height: 190px;
        width: 190px;

     }

     footer .social-media-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
     }
}

